<p id="notice"><%= notice %></p>

<h1>顧客一覧、変更されている？</h1>

<table>
  <thead>
    <tr>
      <th>氏名</th>
      <th>生年月日</th>
      <th>郵便番号</th>
      <th>住所（都道府県）</th>
      <th>住所</th>
      <th>固定電話番号</th>
      <th>携帯電話番号</th>
      <th>メールアドレス１</th>
      <th>メールアドレス２</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.birthday %></td>
        <td><%= customer.postcode %></td>
        <td><%= customer.address_pref %></td>
        <td><%= customer.address_others %></td>
        <td><%= customer.phone_1 %></td>
        <td><%= customer.phone_2 %></td>
        <td><%= customer.mail_1 %></td>
        <td><%= customer.mail_2 %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
