<p id="notice"><%= notice %></p>

<p>
  <strong>氏名:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>生年月日:</strong>
  <%= @customer.birthday %>
</p>

<p>
  <strong>郵便番号:</strong>
  <%= @customer.postcode %>
</p>

<p>
  <strong>住所（都道府県）:</strong>
  <%= @customer.address_pref %>
</p>

<p>
  <strong>住所:</strong>
  <%= @customer.address_others %>
</p>

<p>
  <strong>固定電話番号:</strong>
  <%= @customer.phone_1 %>
</p>

<p>
  <strong>携帯電話番号:</strong>
  <%= @customer.phone_2 %>
</p>

<p>
  <strong>メールアドレス１:</strong>
  <%= @customer.mail_1 %>
</p>

<p>
  <strong>メールアドレス２:</strong>
  <%= @customer.mail_2 %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
