<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @customer.birthday %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @customer.postcode %>
</p>

<p>
  <strong>Address pref:</strong>
  <%= @customer.address_pref %>
</p>

<p>
  <strong>Address others:</strong>
  <%= @customer.address_others %>
</p>

<p>
  <strong>Phone 1:</strong>
  <%= @customer.phone_1 %>
</p>

<p>
  <strong>Phone 2:</strong>
  <%= @customer.phone_2 %>
</p>

<p>
  <strong>Mail 1:</strong>
  <%= @customer.mail_1 %>
</p>

<p>
  <strong>Mail 2:</strong>
  <%= @customer.mail_2 %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
